.b1{
  background-color: rgb(148, 245, 148);
  padding: 6px 20px;
  border-radius: 10px;
  border: none;
  font-size: larger;
  color: black;
}

.b2{
  font-size: larger;
  border-radius: 10px;
  padding: 5px 17px;
  text-transform: uppercase;
}