body {
	text-align: center;
 }
 .choice{
	height: 100%;

}
.button {
	 height: 100px;
	 width: 150px;
	border: 2px solid red;
	background-color: rgba(255, 255, 255, 0.943);
	border-radius: 150px;
	font-size: larger;
	padding: 10px 20px;
	margin-inline: 10px;
	margin-top: 20px;
 }
 .button:hover {
	 border-color: rgb(72, 251, 27);
	 box-shadow: 0 0 5px rgb(132, 255, 0),
    0 0 25px rgb(102, 255, 0) , 0 0 50px rgb(240, 245, 245)
	}
	.reset{
		border: 3px solid red;
		background-color: rgb(255, 0, 0);
		color: white;
		border-radius: 10px;
		font-size: larger;
	 padding: 10px 20px;
	 margin-inline: 10px;
	 margin-top: 20px;
	 
	}
	.reset:hover {
		border-color: rgb(72, 251, 27);
		background-color: rgb(72, 251, 27);
		color: black;
		box-shadow: 0 0 5px rgb(132, 255, 0),
		0 0 25px rgb(102, 255, 0) , 0 0 50px rgb(240, 245, 245)
	}